:80

handle_path /assets/compiled/* {
	root * /lila/public/compiled
	file_server
}

handle_path /assets/* {
	root * /lila/public
	file_server
}

handle_path /static* {
	root * /static
	file_server
}

handle_path /embed/* {
	rewrite * /embed{uri}
	reverse_proxy chesstory:9663 {
		header_up Host {$CHESSTORY_DOMAIN}
		header_up Origin {$CHESSTORY_URL}

		header_down Cross-Origin-Embedder-Policy "credentialless"
	}
}

reverse_proxy chesstory:9663 {
	header_up Host {$CHESSTORY_DOMAIN}
	header_up Origin {$CHESSTORY_URL}

	header_down Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0"
}

handle_errors {
	@502 expression {http.error.status_code} == 502

	route @502 {
		route {
			root * /static/errors
			rewrite * /502.html
			file_server
		}
	}
}
